/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 déc. 2015, 23:41:21
    Author     : Christelle
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700); /* google webfont */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700|Roboto+Condensed:300,400,700); 
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

#pas-annonces {
    position: absolute;
    left: 50%;
}

img {
    margin-left: 15%;
    margin-top: 25%;
}

.pas-annonces {
    margin-left: 30%;
    font-size: 26px;
}

#error {
    margin-top: 40%;
    margin-left: 30%;
    font-size: 26px;
    color: rgb(159, 70, 70);
    font-size: 42px;
}

#titre-annonces {
    font-size: 40px;
    color: lightslategray;
    margin-top: 10px;
}

#titre {
    font-size: 26px;
    color: rgb(159, 70, 70);
    font-family: 'Oswald', sans-serif;
}

hr {
     border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.description {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

#publie-le {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: gray;
    
}

.numero_annonce {
    margin-top: 40px;
    margin-left: 120px;
    font-size: 62px;
}

.supprimer_annonce {
    font-style: italic;
    font-size: 12px;
    margin-left: 450px;
    text-align: right;
}

#nombre_annonces {
    color: rgb(159, 70, 70);
}

#titre_annonce_servider {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    color: rgb(159, 70, 70);
    
}